.container{
    width: 100%; /*define a largura do container*/
    padding-top: 100px; /*define o espaçamento interno supeior*/
}

.coluna{
    width: 100vw; /*vw é o que o usuario ve*/
    height: 216vw;
    background: #FFCBDB;
    margin: 0 auto; /*centraliza a div com classe .coluna*/
    padding-top: 20px;/*espaçamento interno de 20px*/
}

.coluna label{
    display: block; /*altera o display da tag label*/
    margin:10px 10%;/*define margem sup e inf para 10% e dir e esq automatica*/
}

.coluna button{
    display: block;
    margin:10px 10%;
    width: 80%;
    background: #000;
    color: #FFF;
    font-size: 20px;
} 

.coluna input{
    width: 80%;
    margin-left: 10%;
    height: 30px;
    font-size: 25px;
    border-radius: 20px;/*usada para arredondar as margens*/
}

.anteriores{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

